body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.background{
      background-color: #6B705C;
  }

@font-face{
    font-family: Header;
    src: url(fonts/RoslindaleText-Bold.ttf);
}
@font-face{
    font-family: Subhead;
    src: url(fonts/Prompt-Medium.ttf);
}
@font-face{
    font-family: Body;
    src: url(fonts/Prompt-Light.ttf);
}
@font-face{
    font-family: Regular;
    src: url(fonts/RoslindaleText-Regular.ttf);
}
@font-face{
    font-family: Nav;
    src: url(fonts/Prompt-Thin.ttf);
}




.intro{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content:center;
    margin: 0;
    width: 100vw;
    padding-top: 5vh;
    padding-left: 31vw;
    padding-right: 33vw;
}
#intro{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

/* flexbox for horizontal scrolling */

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  height: 100%;
  width: 100%;
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }
.horizontal{
    flex: 0 0 auto;
  }

.vertical{
    flex: 0 0 auto;
}

/* statement grid  */

.statement-container{
    display: grid;
    grid-template-columns: 45vw auto ;
    grid-template-rows: auto 40vh; 
}

#regular{
    font-family: Regular;
    font-size: 32px;
}

.statement{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.name{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: baseline;
}

#name{
    font-family: Header;
    font-size: 75px;
}


/* rotated text grid  */

#vertical-text-container{
    padding: 0;
    margin: 0;
    transform: rotate(270deg);
    overflow-wrap: hidden;
    word-break: none;
    justify-content: center;
    align-items: center;
    z-index: -1;
    width: 100vh;
}

.rotated-text{
    font-family: Header;
    font-size: 120px;
    text-align: center;
    z-index: -1;
    word-spacing: 50px;
}

/* finish your food  */

.finishfood{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 10vw auto auto 10vw;
    align-items: center;
    justify-content:center;
    padding-top: 8vh;
    margin: 0;
    grid-gap: 4vh;
}
#finish1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}
#finish2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}
#finish3{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.finish-style{
    font-family: Header;
    font-size: 20vh;
    text-transform: uppercase;
}


/* portfolio grid */

.portfolio-container{
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-rows: 25vh auto; 
    grid-gap: 70px;
    padding-top: 100px;
    justify-content: left;
}
.portfolio-image { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: -1;
}
.portfolio-text { 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#header{
    font-family: Header;
    font-size: 8vw;
}

#subhead{
    font-family: Header;
    font-size: 4vw;
}

#subtitle{
    font-family: Subhead;
    font-size: 17.5px;
    text-transform: uppercase;
}

#body{
    font-family: Body;
    font-size: 12px;
}

button{
    background-color: transparent;
    font-family: Nav;
    border-color: black;
    border-radius: 8px;
    display: inline-block;
    border-width: thin;
    justify-content: center;
    padding: 8px 25px;
    font-size: 17.5px;
}
button:hover{
    border: none;
    font-family: Nav;
    color: #6B705C;
    background-color: black;
}
button:active{
    border: none;
    font-family: Nav;
    color: #6B705C;
    background-color: black;
}


/* nav bar  */

.navbar {
    display:grid;
    grid-template-columns: auto auto auto;
    padding-top: 5px;
    width: 100vw;
    position: fixed;
  }

#navbarname{
    text-align: center;
    padding-right: 30vw;
}
#navbarheader{
    text-align: center;
    padding-right: 10vw;
    padding-left: 10vw;
}
#navbarcontact{
    text-align: center ;
    padding-left: 30vw;
}

.navbar a{
    font-family: Nav;
    text-decoration: none;
    color: #FFE8D6;
}

.navbar li {
    display: inline-block;
    font-size: 16px;
    padding-top: 10px;
}


  @media screen and (max-width: 500px) {
    .navbar li {
      float: none;
      display: block;
      width: 100%;
    }
}

/* about me grid */

#aboutme-container{
    display: grid;
    grid-template-columns: 30vw auto;
    width: 70vw;
    padding-left: 150px;
    padding-top: 150px;
    grid-gap: 50px;
    justify-content: center;
    align-items:flex-start;
}
.aboutme-text p{
    font-family: Body;
    font-size: 14px;
}
.aboutme-text h1{
    font-family: Header;
    font-size: 35px;
}
.aboutme-image-container{
    grid-column-start: 2;
    grid-column-end: 3;
}



