.main-body{
    background-color: #6B705C;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

@font-face{
    font-family: Header;
    src: url(fonts/RoslindaleText-Bold.ttf);
}
@font-face{
    font-family: Subhead;
    src: url(fonts/Prompt-Medium.ttf);
}
@font-face{
    font-family: Body;
    src: url(fonts/Prompt-Light.ttf);
}
@font-face{
    font-family: Regular;
    src: url(fonts/RoslindaleText-Regular.ttf);
}
@font-face{
    font-family: Nav;
    src: url(fonts/Prompt-Thin.ttf);
}




.intro{
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content:center;
    margin: 0;
    width: 100vw;
    padding-top: 5vh;
    padding-left: 31vw;
    padding-right: 33vw;
}
#intro{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

/* flexbox for horizontal scrolling */

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 500px){
.scrolling-wrapper-flexbox{
    display: flex;
    flex-wrap: wrap;
}
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }
.horizontal{
    flex: 0 0 auto;
  }
  @media screen and (max-width: 500px){
    .horizontal{
        flex: auto;
    }
    }


/* statement grid  */

.statement-container{
    display: grid;
    grid-template-columns: 45vw auto ;
    grid-template-rows: auto 40vh; 
}

#regular{
    font-family: Regular;
    font-size: 32px;
}

.statement{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.name{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: baseline;
}

#name{
    font-family: Header;
    font-size: 75px;
}


/* rotated text grid  */

#vertical-text-container{
    padding: 0;
    margin: 0;
    transform: rotate(270deg);
    overflow-wrap: hidden;
    word-break: none;
    justify-content: center;
    align-items: center;
    z-index: -1;
    width: 100vh;
}

.rotated-text{
    font-family: Header;
    font-size: 120px;
    text-align: center;
    z-index: -1;
    word-spacing: 50px;
}

/* finish your food  */

.finishfood{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 10vw auto auto 10vw;
    align-items: center;
    justify-content:center;
    padding-top: 8vh;
    margin: 0;
    grid-gap: 4vh;
}
#finish1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}
#finish2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}
#finish3{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.finish-style{
    font-family: Header;
    font-size: 20vh;
    text-transform: uppercase;
}


/* portfolio grid */

.portfolio-container{
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-rows: 25vh auto; 
    grid-gap: 70px;
    padding-top: 100px;
    justify-content: left;
}
.portfolio-image { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: -1;
}
.portfolio-text { 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#header{
    font-family: Header;
    font-size: 8vw;
}

#subhead{
    font-family: Header;
    font-size: 4vw;
}

#subtitle{
    font-family: Subhead;
    font-size: 17.5px;
    text-transform: uppercase;
}

#body{
    font-family: Body;
    font-size: 12px;
}

button{
    background-color: transparent;
    font-family: Nav;
    border-color: black;
    border-radius: 8px;
    display: inline-block;
    border-width: thin;
    justify-content: center;
    padding: 8px 25px;
    font-size: 17.5px;
}
button:hover{
    border: none;
    font-family: Nav;
    color: #6B705C;
    background-color: black;
}
button:active{
    border: none;
    font-family: Nav;
    color: #6B705C;
    background-color: black;
}


/* nav bar  */

.navbar {
    display:flex;
    padding: 5vh;
    width: 94vw;
    position: fixed;
    justify-content: space-between;
  }

.navbar a{
    font-family: Nav;
    text-decoration: none;
    color: #FFE8D6;
}

.navbar li {
    display: inline-block;
    font-size: 16px;
    padding-top: 10px;
}


  @media screen and (max-width: 500px) {
    .navbar li {
      float: none;
      display: block;
      width: 100%;
    }
}

/* about me */

#aboutme-container{
    display: grid;
    grid-template-columns: 30vw auto;
    width: 70vw;
    padding-left: 150px;
    padding-top: 150px;
    grid-gap: 50px;
    justify-content: center;
    align-items:flex-start;
}
.aboutme-text p{
    font-family: Body;
    font-size: 14px;
}
.aboutme-text h1{
    font-family: Header;
    font-size: 35px;
}
.aboutme-image-container{
    grid-column-start: 2;
    grid-column-end: 3;
}

.contact-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* blog flex */

.navbar-blog {
    display:flex;
    padding: 5vh;
    width: 20vw;
    flex-direction: column;
    position: fixed;
  }

.navbar-blog a{
    font-family: Nav;
    text-decoration: none;
    color: #FFE8D6;
}

.navbar-blog li {
    font-size: 16px;
    padding-top: 30px;
}


  @media screen and (max-width: 500px) {
    .navbar-blog li {
      float: none;
      display: block;
      width: 100%;
    }
}

.blog-body{
    background-color: #6B705C;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }

.blog-description{
    display: flex;
    position: fixed;
    width: 25vw;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-left: 5vw;
}

.blog-header{
    font-family: Header;
    font-size: 6vw;
    text-align: left;
}
.blog-title{
    font-family: Regular;
    font-size: 4vw;
    text-align: left;
}
.blog-subhead{
    font-family: Subhead;
    font-size: 1vw;
    text-align: left;
}
.blog-body{
    font-family: Body;
    font-size: 16px;
    text-align: left;
}

.blog-flex-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 35vw;
    overflow: auto;
}

.post-container{
    display: grid;
    grid-template-columns: 20vw auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.preview-image{
    grid-column-start: 2;
    grid-column-end: 3;
}
.preview-image-effect{
    border-radius: 20px;
    transition: box-shadow .3s;
    /* border: 1px solid rgba(0, 0, 0, .25); */
}
img.preview-image-effect:hover{
    box-shadow: 0 0 20px rgba(33,33,33,.5); 
}

.preview-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.blog-post-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding-left: 10vw;
}

.blog-post-grid{
    display: grid;
    grid-template-columns: 50vw auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.blog-post-text{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.blog-post-image{
    grid-column-start: 2;
    grid-column-end: 3;
}

.blog-post-title{
    font-family: Header;
    font-size: 4vw;
    text-align: left;
}
.blog-post-subhead{
    font-family: Subhead;
    font-size: 1vw;
    text-align: left;
}
.blog-post-body{
    font-family: Body;
    font-size: 14px;
    text-align: left;
}

.navbar-post {
    display:flex;
    padding: 5vh;
    width: 94vw;
    justify-content: space-between;
  }

.navbar-post a{
    font-family: Nav;
    text-decoration: none;
    color: #FFE8D6;
}

.navbar-post li {
    /* display: inline-block; */
    font-size: 16px;
    padding-top: 10px;
}


  @media screen and (max-width: 500px) {
    .navbar-post li {
      float: none;
      display: block;
      width: 100%;
    }
}