/* Contact page styling */

.contact-statement{
    display: block;
    position: fixed;
    top: 20%;
    left: 40%;
    font-size: 6rem;
    font-family: Mirage;
    width: 50%;
}

.contact-email{
    display: block;
    position: fixed;
    top: 62.5%;
    left: 40%;
    font-size: 1.5rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    transition: letter-spacing 1s;
}
.contact-email:hover{
    letter-spacing: .1vw;
}

.contact-email a{
    text-decoration: none;
    color: black;
}

.custom-cursor{
    cursor: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' heigh='64' width='64' viewBox='0 0 422.83 244.18'%3E%3Cdefs%3E%3Cstyle%3E.b%7Bfill:none;stroke:%23000;stroke-miterlimit:10;stroke-width:25px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M0,122.09H421.78s-133.11-8.02-222.92-110.66'/%3E%3Cpath class='b' d='M0,122.09H421.78s-133.11,8.02-222.92,110.66'/%3E%3C/svg%3E") 32 16, pointer;
}

.contact-message{
    display: block;
    position: fixed;
    top: 70%;
    left: 40%;
    font-size: 1rem;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 100;
    width: 30%;
}

.contact-image{
    position: fixed;
    display: block;
    z-index: -1000;
    top: 45%;
    left: -20%;
}