/* Home page introduction */


.mask{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}



.home-container{
    display: flex;
    /* border-radius: 0 50px 50px 0; */
    height: 80vh;
    width: 100%;
    flex-direction: row;
    border-bottom: 1px black;
}
.marquee{
    display: none;
    font-size: 15rem;
    font-family: Mirage;
    height: 100%;
}
marquee{
    padding-top: 2%;
}

.home-container:hover + .marquee{
    display: block;
}

.home-content{
    width: 27.5%;
    padding-left: 3%;
    padding-top: 9%;
    padding-right: 5%;
}

.home-header{
    font-family: Mirage;
    font-size: 4.5rem;
    line-height: 1.15;
    color: black;
}
.home-header span{
    font-family: Mirage-Bold;
}
.home-body{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25;
    width: 80%;
    color: black;
}
.home-tagline{
    font-family: Mirage-Bold;
    font-size: 2rem;
    padding-top: 1%;
    color: black;
}
.home-tagline a{
    text-decoration: none;
    color: black;
    z-index: 999999999999999;
    position: relative;
}
.home-tagline a span{
    text-decoration: none;
    color: black;
    z-index: 999999999999999;
    position: relative;
}
.home-tagline a span:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.home-tagline a span:hover:after{
    width: 100%; 
    left: 0; 
}

.link-flex{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding-left: 7.5vw;
    padding-top: 9%;
    width: 60vw;
}

/* Project Links Hover */

.links { visibility: hidden; }


.links > * { visibility: visible; }


.links > * { transition: opacity .25s linear .25s, transform .25s ease-in-out .25s, letter-spacing .5s;}


.links:hover > * { opacity: 0.3; }


.links > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms, 0ms, 0ms, 0ms; letter-spacing: .2vw;}


#design1:hover{
    color: #C36464;
}
#design2:hover{
    color: #4E7566;
}
#design3:hover{
    color: #0066B6;
}

.project-title a{
    text-decoration: none;
    color: black;
}

.custom-cursor{
    cursor: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='a' xmlns='http://www.w3.org/2000/svg' heigh='64' width='64' viewBox='0 0 422.83 244.18'%3E%3Cdefs%3E%3Cstyle%3E.b%7Bfill:none;stroke:%23000;stroke-miterlimit:10;stroke-width:25px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='b' d='M0,122.09H421.78s-133.11-8.02-222.92-110.66'/%3E%3Cpath class='b' d='M0,122.09H421.78s-133.11,8.02-222.92,110.66'/%3E%3C/svg%3E") 32 16, pointer;
}





.project-title{
    padding-bottom: 4.75%;
    font-size: 7rem;
    font-family: Mirage;
}


/* LINES */

.line-1{
    width: 2px;
    background-color: black;
}

/* Secondary projects styling */

.thumbnail-container{
    display: flex;
    flex-direction: row;
    z-index: 100;
    width: 100%;
    padding-left: 3%;
    border-top: 2px solid black;
    height: 100%;
}

.thumbnail-1, .thumbnail-2, .thumbnail-3{
    padding-top: 1%;
    padding-left: 2.5%;
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 100%;
    align-items: left;
    justify-content: center;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.thumbnail-spacer{
    width: 2.5%;
}

.thumbnail-headline{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.75rem;
    padding-top: 1%;
}

.thumbnail-image{
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 50px;
}

.thumbnail-subhead{
    padding-top: 2%;
    font-family: Mirage;
    font-weight: 200;
    font-style: normal;
    font-size: 2rem;
}

.secondary-container{
    border-top: black;
    border-bottom: 2px solid black;
}

.secondary-container-flex{
    display: flex;
    flex-direction: column;
    width: 15vw;
    padding-right: 2.5%;
    padding-top: 1.25%;
}
.secondary-container-header{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-size: 1.25rem;
}
.secondary-container-description{
    font-family: Mirage;
    font-weight: 200;
    font-size: 1.5rem;
    padding-top: 4%;
    text-align: justify;
    line-height: 1.25;
}

/* Copyright */

.copyright-flex{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.copyright-flex div a{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    letter-spacing: 150%;
    text-decoration: none;
    color: black;
}

.copyright-flex div{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    letter-spacing: 150%;
}

.copyright-padding{
    padding-right: 5%;
}

/* Slideout */

.slideout {
    position: absolute;
    z-index: 10000;
    background-color: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    height: 100%;
    /* border-radius: 0 50px 50px 0; */
    padding-top: none;
    bottom: 0;
}

.slide-menu-right {
    left: -50%;
    width: 50%;
    height: 100%;
    z-index: 10000000;
    overflow: hidden;
    background-color: #EFEFEF;
}
.design-preview{
    position: fixed;
    height: 100%;
    width: 32.5%;
    padding-left: 21%;
    padding-top: 4%;
}
.design-preview-flex{
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 70%;
    align-items: left;
    justify-content: center;
}
.design-preview-header{
    font-family: Mirage-Bold;
    font-size: 2rem;
}
.design-preview-image{
    padding-top: 3%;
}
.design-preview-description{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-size: 1rem;
    padding-top: 5%;
}

.skills-flex{
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.skill-box{
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    background-color: white;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
    border-radius: 50px;
}
.skill-box-padding{
    padding-right: 1%;
}
.skill-box-padding-1{
    width: 100%;
}




/* Homepage mobile */

.mobile-design-flex{
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.mobile-padding{
    padding-top: 7.5%;
}
.mobile-padding1{
    padding-top: 5%;
}
.mobile-design{
    display: flex;
    flex-direction: column;
    /* background-color: #FFE8D6; */
    border-radius: 30px;
    width: 90%;
    height: 100%;
    text-align: left;
    padding-bottom: 5%;
    background-color: rgb(226, 226, 226);
}
.mobile-title{
    padding-left: 5%;
    font-size: 2rem;
    font-family: Mirage;
    
}
.mobile-subtitle{
    padding-left: 5%;
    font-family: Subhead;
    font-size: 1rem;
}
.mobile-button{
    padding-left: 5%;
    padding-top: 2%;
}
.mobile-design button{
    border-radius: 30px;
    font-size: .8rem;
    font-family: Nav;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-color: black;
    background-color: white ;
    border-width: 1px;
}

.mobile-home-description{
    padding-bottom: 5%;
    width: 80%;
    text-align: center;
    font-size: .8rem;
    font-family: Body;
    line-height: 1.15;
}
.mobile-home-description span{
    font-family: Subhead;
}