/* Home page introduction */

.home-container{
    position: fixed;
    background-color: #EFEFEF;
    border-radius: 0 50px 50px 0;
    height: 100%;
    width: 32.5%;
}
.home-content{
    position: fixed;
    width: 27.5%;
    padding-left: 3%;
    padding-top: 15%;
}

.home-header{
    font-family: Mirage;
    font-size: 4.5rem;
    line-height: 1.15;
    color: black;
}
.home-header span{
    font-family: Mirage-Bold;
}
.home-body{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25;
    width: 80%;
    color: black;
}
.home-tagline{
    font-family: Mirage-Bold;
    font-size: 2rem;
    padding-top: 1%;
    color: black;
}
.home-tagline a{
    text-decoration: none;
    color: black;
    z-index: 999999999999999;
    position: relative;
}
.home-tagline a span{
    text-decoration: none;
    color: black;
    z-index: 999999999999999;
    position: relative;
}
.home-tagline a span:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.home-tagline a span:hover:after{
    width: 100%; 
    left: 0; 
}

.link-flex{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding-left: 40vw;
    padding-top: 8.5vh;
    width: 60vw;
}

/* Secondary projects styling */

.thumbnail-container{
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 100;
    padding-left: 40vw;
    width: 60vw;
    padding-top: 2%;
}

.thumbnail-1, .thumbnail-2, .thumbnail-3{
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    width: 25%;
    height: 16vh;
    align-items: left;
    justify-content: center;
    padding: 2.5%;
    border-radius: 20px;
    transition: all 0.5s ease;
}

.thumbnail-1:hover, .thumbnail-2:hover, .thumbnail-3:hover{
    transform: translateY(-10px);
}

.thumbnail-spacer{
    width: 2.5%;
}

.thumbnail-headline{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 0.75rem;
}

.thumbnail-image{
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 50px;
}

.thumbnail-subhead{
    padding-top: 2%;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
}

.secondary-container{
    padding-top: 1%;
}

.secondary-container-flex{
    display: flex;
    flex-direction: column;
    padding-left: 40vw;
    width: 57vw;
}
.secondary-container-header{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-size: .8rem;
}
.secondary-container-description{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-size: 1rem;
    padding-top: 1%;
}

/* Slideout */

.slideout {
    position: absolute;
    z-index: 10000;
    background-color: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    height: 100%;
    border-radius: 0 50px 50px 0;
    padding-top: none;
    bottom: 0;
}

.slide-menu-right {
    width: 50%;
    height: 100%;
    z-index: 10000000;
    overflow: hidden;
}
.design-preview{
    position: fixed;
    height: 100%;
    width: 32.5%;
    padding-left: 21%;
    padding-top: 5%;
}
.design-preview-flex{
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 70%;
    align-items: left;
    justify-content: center;
}
.design-preview-header{
    font-family: Mirage-Bold;
    font-size: 4.5rem;
}
.design-preview-image{
    padding-top: 5%;
}
.design-preview-description{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
    padding-top: 5%;
}
#carmen{
    background-color: #C36464;
}
#crash{
    background-color: rgb(119, 180, 119);
}
#kroger{
    background-color: #5996cc;
}


/* Homepage mobile */

.mobile-design-flex{
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.mobile-padding{
    padding-top: 7.5%;
}
.mobile-padding1{
    padding-top: 5%;
}
.mobile-design{
    display: flex;
    flex-direction: column;
    /* background-color: #FFE8D6; */
    border-radius: 30px;
    width: 90%;
    height: 100%;
    text-align: left;
    padding-bottom: 5%;
    background-color: rgb(226, 226, 226);
}
.mobile-title{
    padding-left: 5%;
    font-size: 2rem;
    font-family: Mirage;
    
}
.mobile-subtitle{
    padding-left: 5%;
    font-family: Subhead;
    font-size: 1rem;
}
.mobile-button{
    padding-left: 5%;
    padding-top: 2%;
}
.mobile-design button{
    border-radius: 30px;
    font-size: .8rem;
    font-family: Nav;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    border-color: black;
    background-color: white ;
    border-width: 1px;
}

.mobile-home-description{
    padding-bottom: 5%;
    width: 80%;
    text-align: center;
    font-size: .8rem;
    font-family: Body;
    line-height: 1.15;
}
.mobile-home-description span{
    font-family: Subhead;
}