@font-face{
    font-family: Mirage;
    src: url(fonts/MADE\ Mirage\ Regular\ PERSONAL\ USE.otf)
}
@font-face{
    font-family: Mirage-Thin;
    src: url(fonts/MADE\ Mirage\ Thin\ PERSONAL\ USE.otf)
}
@font-face{
    font-family: Mirage-Medium;
    src: url(fonts/MADE\ Mirage\ Medium\ PERSONAL\ USE.otf)
}
@font-face{
    font-family: Mirage-Bold;
    src: url(fonts/MADE\ Mirage\ Bold\ PERSONAL\ USE.otf)
}

/* Padding */

.padding1{
    padding-top: 1%;
}
.padding2{
    padding-top: 2%;
}
.padding3{
    padding-top: 3%;
}
.padding4{
    padding-top: 4%;
}
.padding5{
    padding-top: 5%;
}

.padding-right{
    padding-right: 2.5vw;
}

/* Sig */

.signature-branch{
    display: block;
    position: fixed;
    font-family: Mirage-Thin;
    font-size: 1.75rem;
    cursor: pointer;
    color: black;
    padding-bottom: 2vh;
    width: 100vw;
    padding-top: 2vh;
    padding-left: 3vw;
    background-color: white;
}
.signature-branch a{
    text-decoration: none;
    color: black;
}


.module-container{
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: left;
    width: 100%;
}

.module-container-1{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    width: 100%;
    padding: none;
}

.section-padding{
    padding-top: 10%;
}

.module-text{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    padding-right: 20%;
}

.module-text h1{
    font-family: Mirage-Bold;
    font-style: normal;
    font-size: 3rem;
}

.module-subhead{
    /* font-family: neue-haas-unica, sans-serif;
    font-weight: 600; */
    font-family: Mirage-Bold;
    font-style: normal;
    font-size: 1.25vw;
}

.list-module-text{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1vw;
    padding-right: 5%;
    width: 100%;
}


.module-bold{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 550;
    font-size: 1.2;
    line-height: 1.3;
}

.module-description{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1vw;
    line-height: 1.3;
    letter-spacing: 0.025vw
}

.module-description h1{
    font-family: Mirage-Bold;
    font-style: normal;
    font-size: 3vw;
}

.module-description h2{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 550;
    font-style: normal;
    font-size: 1.25vw;
}

.module-description h3{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.1vw;
}

.number-callout{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 550;
    font-size: 6rem;
}

.itemized-module-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.itemized-module-text{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    padding-right: 2%;
}
.itemized-module-text h1{
    text-align: center;
    font-size: 1.5vw;
}




/* Carousel */


.carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
  }
  
  .carousel {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 9px;
    box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.35);
    position: relative;
  }
  
  .carousel-images {
    display: flex;
    overflow: hidden;
  }
  
  .carousel-image {
    transition: all 0.9s;
    width: 100%;
    transform: translateX(0);
  }
  
  .btn-left,
  .btn-right {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: white;
    border: none;
    position: absolute;
    cursor: pointer;
    opacity: 0.75;
    transition: all 0.25s;
    z-index: 1;
  }
  
  .btn-left:hover,
  .btn-right:hover {
    opacity: 1;
  }
  
  .btn-left {
    top: 50%;
    left: -1.5rem;
    transform: translateY(-50%);
  }
  .btn-right {
    top: 50%;
    right: -1.5rem;
    transform: translateY(-50%);
  }
  
  .icon-left,
  .icon-right {
    font-size: 2rem;
    color: black;
  }

/* Theme Grid Crash */

.theme-grid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 5px;
}
.grid-a{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-b{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.grid-c{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}


/* TLDR */

.tldr-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
}

.tldr{
    font-family: Mirage;
    font-size: 1.5vw;
    width: 30vw;
    padding-right: 2.5vw;
    line-height: 1.25;
}


.tldr span{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-size: 1vw;
}
.carmen-type{
    color: #C36464;
}
.crash-type{
    color: #4E7566;
}
.kroger-type{
    color: #0066B6;
}

.align-items-center{
    justify-content: center;
    align-items: center;
}

/* TLDR CARMEN */

.tldr-description-carmen{
    width: 30vw;
    padding-left: 2.5vw;
    font-size: 0.75vw;
    border-left: 2px solid #C36464;
}
.tldr-description-carmen p{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1vw;
    line-height: 1.3;
    letter-spacing: 0.03vw;
}

.tldr-description-carmen-reverse{
    width: 30vw;
    padding-right: 2.5vw;
    font-size: 0.75vw;
    border-right: 2px solid #C36464;
}
.tldr-description-carmen-reverse p{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1vw;
    line-height: 1.3;
    letter-spacing: 0.025vw;
}

.carmen-border-left{
    border-left: 2px solid #C36464;
}

.carmen-border-right{
    border-right: 2px solid #C36464;
}

/* TLDR CRASH */

.tldr-description-crash{
    width: 30vw;
    padding-left: 2.5vw;
    font-size: 0.75vw;
}
.tldr-description-crash p{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.3;
    letter-spacing: 0.025vw;
}

.tldr-description-crash-reverse{
    width: 30vw;
    padding-right: 2.5vw;
    font-size: 0.75vw;
    border-right: 2px solid #4E7566;
}
.tldr-description-crash-reverse p{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.3;
    letter-spacing: 0.025vw;
}

.crash-border-left{
    border-left: 2px solid #4E7566;
}

.crash-border-right{
    border-right: 2px solid #4E7566;
}

.tldr-description-crash span{
    font-family: Mirage-Bold;
    font-size: 1.5vw;
}

.tldr-body-crash{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 0.005vw;
}
/* TLDR KROGER */

.tldr-description-kroger{
    width: 30vw;
    padding-left: 2.5vw;
    font-size: 0.75vw;
}
.tldr-description-kroger p{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.3;
    letter-spacing: 0.025vw;
}

.tldr-description-kroger-reverse{
    width: 30vw;
    padding-right: 2.5vw;
    font-size: 0.75vw;
    border-right: 2px solid #0066B6;
}
.tldr-description-kroger-reverse p{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.3;
    letter-spacing: 0.025vw;
}

.kroger-border-left{
    border-left: 2px solid #0066B6;
}

.kroger-border-right{
    border-right: 2px solid #0066B6;
}

.tldr-description-kroger span{
    font-family: Mirage-Bold;
    font-size: 1.5vw;
}

.tldr-body-kroger{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1vw;
    letter-spacing: 0.005vw;
}


/* Callout */

.callout-container{
    padding-top: 3vh;
    width: 45vw;
    padding-left: 10vw;
    font-size: 0.75vw;
    padding-bottom: 5vh;
}

/* Carmen callout */

.callout-body-carmen{
    font-family: Mirage;
    font-size: 1.5vw;
    width: 45vw;
    padding-left: 2.5vw;
    line-height: 1.25; 
    border-left: 2px solid #C36464;
}
.callout-body-carmen span{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-size: 1vw;
}

/* Crash Callout */

.callout-body-crash{
    font-family: Mirage;
    font-size: 1.5vw;
    width: 45vw;
    padding-left: 2.5vw;
    line-height: 1.25; 
    border-left: 2px solid #4E7566;
}
.callout-body-crash span{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-size: 1vw;
}

/* Kroger Callout */

.callout-body-kroger{
    font-family: Mirage;
    font-size: 1.5vw;
    width: 45vw;
    padding-left: 2.5vw;
    line-height: 1.25; 
    border-left: 2px solid #0066B6;
}
.callout-body-kroger span{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    font-size: 1vw;
}

/* Prototype display */

.screenshot{
    padding-right: 1vw;
    width: 30%;
    padding-left: 1vw;
}

.prototype-button button{
    width: 40%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: none;
    border: 2px solid black;
    border-radius: 8px;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1vw;
    z-index: 999999999;
}
.prototype-button:hover{
    cursor: pointer;
}

/* Key Takeaways */

.takeaway-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.takeaway-container h2{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-size: 1vw;
    font-weight: 600;
}

.takeaway-container p{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-size: 1vw;
    font-weight: 200;
}

.takeaway-column{
    width: 33.3%;
}

/* Next & Previous */

.next-previous-container{
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5vh;
}

.next-previous-container a{
    text-decoration: none;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 1.5vw;
}

.next-previous-container img{
    width: 1.5vw;
    height: 0.75vw;
}

.arrow-container{
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-padding{
    padding-right: 1vw;
}

.arrow-container a:hover{
    cursor: pointer;
}

/* Header */


.header-container{
    padding-top: 12.5vh;
    justify-content: center;
    align-items: center;
}
.header-photo{
    width: 100%;
}

/* Radial Gradient */

/* .radial-gradient{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: 
    radial-gradient(
      circle at top left,
      rgba(0, 102, 182, 0.45), 
      transparent 60vw
    ),
    radial-gradient(
      circle at top right,
      rgba(195, 100, 100, 0.45), 
      transparent 60vw
    ),
    radial-gradient(
      circle at bottom,
      rgba(93, 154, 131, 0.45), 
      transparent 70vw
    );
} */


/* Under construction */

.construction-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    place-content: center;
}

.construction-message{
    font-family: Mirage;
    font-size: 2vw;
    width: 50%;
    padding-left: 25%;
    text-align: center;
}

.back-button button{
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 200;
    font-size: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    border: 2px solid black;
    border-radius: 25px;
}

.back-button button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

/* Mobile Responsiveness */

@media screen and (max-width: 480px) {
    .nav-container, .navbar-branch, .designs-back{
        display:none;
    }

    .project-title-container{
        width: 90vw;
        padding-left: 5%;
    }

    .design-title{
        font-size: 15vw;
    }

    .header-container{
        padding-top: 5vh;
    }
    .branch-subhead{
        font-size: 5vw;
        padding-bottom: 2.5vh;
        width: 100%;
    }
    .project-description{
        width: 100%;
    }
    .project-number{
        font-size: 5vw;
    }
    .project-documentation-container{
        width: 90%;
        padding-left: 5%;
        padding-top: 3.5vh;
    }
    .project-info-container{
        display: flex;
        flex-direction: column;
    }
    .project-info-container h1, .project-info-container p{
        font-size: 3.5vw;
    }
    .problem-statement{
        padding-bottom: none;
    }
    .module-container{
        flex-direction: column;
    }
    .callout-container{
        width: 90vw;
        font-size: 3.5vw;
        padding: none;
    }
    .callout-body-crash, .callout-body-kroger, .callout-body-carmen{
        font-size: 6vw;
        width: 80%;
    }
    .callout-body-crash span, .callout-body-kroger span, .callout-body-carmen span{
        font-size: 4vw;
    }
    .documentation-text h1{
        font-size: 5vw;
    }
    .module-subhead{
        font-size: 5vw;
    }
    .tldr-container{
        width: 100%;
        flex-direction: column;
    }
    .crash-border-right{
        border-right: none;
    }
    .tldr{
        font-size: 4.5vw;
        width: 100%;
        padding-bottom: 3.5vh;
    }
    .tldr span{
        font-size: 2.5vw;
    }
    .tldr-description-crash, .tldr-description-carmen, .tldr-description-carmen-reverse, .tldr-description-crash-reverse, .tldr-description-kroger, .tldr-description-kroger-reverse{
        width: 100%;
        padding-left: none;
        padding-top: 2.5vh;
  
    }

    .tldr-description-carmen-reverse{
        border-right: none;
        border-left: 2px solid #C36464;
    }
    .tldr-description-carmen-reverse p, .tldr-description-carmen p{
        font-size: 3.5vw;
        padding-left: 3vw;
    }

    .tldr-description-carmen span, .tldr-description-carmen-reverse span, .tldr-description-crash span, .tldr-description-kroger span, .tldr-description-crash-reverse span, .tldr-description-kroger-reverse span{
        font-size: 2.5vw;
    }

    .tldr-body-crash, .tldr-body-kroger{
        font-size: 3.5vw;
    }
    .takeaway-container{
        flex-direction: column;
    }
    .takeaway-column{
        width: 100%;
    }
    .takeaway-column h2{
        font-size: 4.5vw;
    }
    .takeaway-column p{
        font-size: 3.5vw
    }
    .arrow-container a{
        font-size: 5vw;
    }
    .next-previous-container img{
        width: 3.5vw;
        height: 2.5vw;
    }

    .radial-gradient{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: 
        radial-gradient(
          circle at right 60%,
          rgba(0, 102, 182, 0.5), 
          transparent 50vw
        ),
        radial-gradient(
          circle at left 20%,
          rgba(195, 100, 100, 0.5), 
          transparent 50vw
        ),
        radial-gradient(
          circle at left 80%,
          rgba(78, 117, 102, 0.5), 
          transparent 50vw
        );
    }

    .module-image{
        padding-top: 3.5vh;
    }

    .itemized-module-container{
        flex-direction: column;
    }
    .itemized-module-text h1{
        font-size: 5vw;
    }

    .tldr-description-kroger{
        padding-top: 2.5vh;
    }
    .kroger-border-left{
        border-left: none;
        border-top: 2px solid #0066B6;
    }

    .module-description p, .module-description h2, .branch-bodycopy, .role-container p,.list-module-text, .module-subhead{
        font-size: 1rem;
        letter-spacing: 0.15vw;
    }
    .module-description h1{
        font-size: 1.2rem;
    }


}