

.main-body{
    background-color: #6B705C;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }

@font-face{
    font-family: Header;
    src: url(fonts/RoslindaleText-Bold.ttf);
}
@font-face{
    font-family: Subhead;
    src: url(fonts/Prompt-Medium.ttf);
}
@font-face{
    font-family: Body;
    src: url(fonts/Prompt-Light.ttf);
}
@font-face{
    font-family: Regular;
    src: url(fonts/RoslindaleText-Regular.ttf);
}
@font-face{
    font-family: Nav;
    src: url(fonts/Prompt-Thin.ttf);
}
@font-face{
    font-family: Prompt-Semi;
    src: url(fonts/Prompt-SemiBold.ttf);
}


.intro-container{
    display: flex;
    width: 100vw;
}
.intro{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    width: 100%;
    padding-left: 30.5vw;
    padding-right: 33vw;
}

.mobile-intro {
    display: none;
}

@media screen and (max-width: 500px){
    /* .intro{
        padding: 0;
        width: 100vw;
    }
    .desktop-intro{
       display: none; 
    }
    .mobile-intro{
        display: contents;
    } */
    
}

/* flexbox for horizontal scrolling */

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 500px){
.scrolling-wrapper-flexbox{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-y: scroll;
    }
}

.scrolling-wrapper {
    -webkit-overflow-scrolling: touch;
  }
.horizontal{
    flex: 0 0 auto;
  }


/* statement grid  */

.statement-container{
    display: grid;
    grid-template-columns: 45vw auto ;
    grid-template-rows: auto 40vh; 
}

#regular{
    font-family: Regular;
    font-size: 2.25rem;
}

.statement{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.name{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-content: baseline;
}

#name{
    font-family: Header;
    font-size: 4rem;
}


/* rotated text grid  */

#vertical-text-container{
    padding: 0;
    margin: 0;
    overflow-wrap: hidden;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 110vh;
    transform: rotate(270deg);
}

.rotated-text{
    font-family: Header;
    font-size: 8rem;
    text-align: center;
    z-index: -1;
    word-spacing: 2rem;
}
.rotated-text1{
    font-family: Header;
    font-size: 8rem;
    text-align: center;
    z-index: -1;
    word-spacing: 2rem;
    transform: rotate(180deg);
}
/* finish your food  */

.finishfood{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 18vw auto auto 18vw;
    align-items: center;
    justify-content:center;
    padding-top: 0;
    margin: 0;
    grid-gap: 2vh;
}
#finish1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.bowl1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#finish2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.bowl2{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}
#finish3{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 5;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.finish-style{
    font-family: Header;
    font-size: 20vh;
    text-transform: uppercase;
}


/* portfolio grid */

.portfolio-container{
    display: grid;
    grid-template-columns: 20vw auto;
    grid-template-rows: 25vh auto; 
    padding-top: 50px;
    justify-content: left;
    padding-right: 5vw;
    height: 100vh;
}
.portfolio-image { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    z-index: -1;
}
.portfolio-text { 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.image{
    width: 100%;
}

#header{
    font-family: Header;
    font-size: 8rem;
}

#subhead{
    font-family: Header;
    font-size: 4rem;
}

#subtitle{
    font-family: Subhead;
    font-size: 1.5rem;
    text-transform: uppercase;
}

#body{
    font-family: Body;
    font-size: 12px;
}

button{
    background-color: transparent;
    font-family: Nav;
    border-color: black;
    border-radius: 8px;
    display: inline-block;
    border-width: thin;
    justify-content: center;
    padding: 8px 25px;
    font-size: 17.5px;
}
button:hover{
    border: none;
    font-family: Nav;
    color: #6B705C;
    background-color: black;
}
button:active{
    border: none;
    font-family: Nav;
    color: #6B705C;
    background-color: black;
}

#project6{
    padding-right: 0;
}


/* nav bar  */

.navbar {
    display:flex;
    padding-left: 4.5vh;
    padding-right: 5vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    width: 95vw;
    position: fixed;
    justify-content: space-between;
    align-items: flex-start;
  }

.navbar a{
    font-family: Nav;
    text-decoration: none;
    color: #FFE8D6;
}

.navbar a:hover{
    font-family: Body;
}

  @media screen and (max-width: 500px) {

    .navbar {
        display: flex;
        flex-direction: column;
        justify-items: center;
        position: relative;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
        font-size: .8rem;
        padding-left: 0;
        padding-right: 0;
    }
}

/* about me */

#aboutme-container{
    display: grid;
    grid-template-columns: 30vw auto;
    width: 70vw;
    padding-left: 150px;
    padding-top: 100px;
    grid-gap: 50px;
    justify-content: center;
    align-items:flex-start;
}
.aboutme-text p{
    font-family: Body;
    font-size: 14px;
}
.aboutme-text h1{
    font-family: Header;
    font-size: 35px;
}
.aboutme-image-container{
    grid-column-start: 2;
    grid-column-end: 3;
}

.contact-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* designs */

/* designs navbar */

.navbar-branch {
    display:flex;
    padding: 5vh;
    width: 95vw;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    text-align: right;
  }

.navbar-branch a{
    font-family: Nav;
    text-decoration: none;
    color: #FFE8D6;
    transition: letter-spacing, 1s;
}

.navbar-branch a:hover{
    font-family: Subhead;
    letter-spacing: .1vw;
}

  @media screen and (max-width: 500px) {
    .navbar-branch {
      float: none;
      display: block;
      width: 100%;
    }
}

.branch-body{
    background-color: #6B705C;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }


.branch-description{
    display: flex;
    flex-direction: column;
    padding: 4%;
    width: 25vw;
    height: 100%;
    justify-content: center;
    align-items: left;
    position: fixed;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.branch-title{
    display: flex;
    position: fixed;
    width: 25vw;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    line-height: .85;
    align-items: center;
    padding-left: 2%;
}
.project-number{
    font-size: 2rem;
    padding-left: 1%;
    font-family: Prompt-Semi;
}

.link-flex{
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding-left: 40vw;
    padding-top: 10vh;
    width: 60vw;
}

.project-title a{
    text-decoration: none;
    color: black;
}

.project-title{
    padding-bottom: 5%;
    font-size: 7rem;
    font-family: Prompt-Semi;
}

/* branch fixed */

.designs-back{
    display: block;
    position: fixed;
    top: 50%;
    transform: rotate(270deg);
    font-family: Nav;
    font-size: 2.5rem;
    transition: letter-spacing .75s;
}
.designs-back a{
    color: #FFE8D6;
    text-decoration: none;
}
.designs-back:hover{
    letter-spacing: .2vh;
}

/* 
.example:hover + .kroger-title{ 
    display: block;
} */


/* Project Links Hover */

.links { visibility: hidden; }


.links > * { visibility: visible; }


.links > * { transition: opacity .25s linear .25s, transform .25s ease-in-out .25s, letter-spacing .5s;}


.links:hover > * { opacity: 0.3; }


.links > *:hover { opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms, 0ms, 0ms, 0ms; letter-spacing: .2vw; cursor: pointer;}


.logo{
    position: fixed;
    bottom: 3%;
    left: 2%;
}

.signature{
    display: block;
    position: fixed;
    top: 5%;
    left: 2%;
    font-family: Regular;
    font-size: 2rem;
    z-index: 1000000;
    cursor: pointer;
    color: #FFE8D6;
}
.signature2{
    display: none;
    position: fixed;
    top: 5%;
    left: 2%;
    font-family: Regular;
    font-size: 2rem;
    z-index: 1000000;
    cursor: pointer;
    color: #FFE8D6;
}

.signature a, .signature2 a{
    text-decoration: none;
    color: #FFE8D6;
}

.signature:hover{
    display: none;
    cursor: pointer;
}
.signature:hover + .signature2{
    display: block;
}




/* Branch styling */

.branch-header{
    font-family: Header;
    font-size: 6rem;
}

.branch-subhead{
    font-family: Subhead;
    font-size: 2rem;
}
.branch-subhead-big{
    font-family: Prompt-Semi;
    font-size: 4rem;
}
.branch-bodycopy{
    font-family: Body;
    font-size: 1rem;
}
.branch-thin{
    font-family: Nav;
    font-size: 4rem;
}

.branch-flex-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 40vw;
    overflow: auto;
    width: 55%;
}

.design-subhead{
    font-family: Prompt-Semi;
    font-size: 3rem;
}

/* project page build */

.project-intro-container{
    display: grid;
    grid-template-columns: auto 20% 20%;
    grid-template-rows: auto auto auto;
    width: 100%;
}

.project-intro-text{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.project-intro-image{
    z-index: -1;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.design-title{
    font-size: 10rem;
    font-family: Prompt-Semi;
    line-height: 120%;
}

.project-description{
    width: 75%;
}

.screenshot{
    z-index: -1;
}

.design-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    width: 70%;
}

.design-primer{
    width: 80%;
    padding-top: 10%;
    text-align: center;
}

.key-features{
    padding-top: 10%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto ;
    grid-gap: 5%;
}

.key-features-title{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-family: Prompt-Semi;
    font-size: 4rem;
    text-align: center;
}

.key-feature-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.key-feature-1 img{
    transform: rotate(357deg);
}

.key-feature-1-description{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 50%;
    width: 85%;
}

.key-feature-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.key-feature-2 img{
    transform: rotate(3deg);
}

.key-feature-2-description{
    padding-top: 50%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 85%;
    text-align: right;
}

.design-process {
    display: grid;
    padding-top: 30%;
}

.design-process-title{
    text-align: center;
    font-family: Prompt-Semi;
    font-size: 4rem;
}

.empathy{
    padding-top: 10%;
}

.research-grid{
    display: grid;
    grid-template-columns: auto auto;
}

.stat-1, .stat-2, .stat-3{
    font-family: Nav;
    font-size: 7rem;
}

.research-text{
    width: 50%;
    font-family: Body;
}

.research-description{
    grid-column-start: 1;
    grid-column-end: 2;
}

.research-image{
    grid-column-start: 2;
    grid-column-end: 3;
}

.ideation{
    padding-top: 10%;
    text-align: left;
    padding-left: 50%;
}

.ideation-description{
    align-self: right;
}

.ideation-text{
    font-family: Body;
}

.define{
    padding-top: 10%;
    text-align: center;
}

.define-description{
    padding-left: 10%;
}

.define-text{
    font-family: Body;
    font-size: 1rem;
}

/* Print styling */

.section-heading{
    padding-top: 10%;
    font-family: Regular;
    font-size: 3rem;
    text-align: left;
    width: 100%;
}

hr.divider{
    border: 1px solid black;
}

.page-grid{
    display: grid;
    grid-template-columns: 15% auto auto;
    grid-gap: 5%;
}

.page-caption-container{
   grid-column-start: 1;
   grid-column-end: 2;
}

.page-image{
    grid-column-start: 2;
    grid-column-end: 4;
}

.spread-title{
    font-family: Subhead;
    font-size: 1.5rem;
}
.spread-caption{
    font-family: Body;
    font-size: 1rem;
}

.grid-padding{
    padding-top: 2%;
}












/* blog post */

.blog-post-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    padding-right: 10vw;
    padding-left: 10vw;
}

.blog-post-image{
    width: 60%;
    justify-self: center;
}

.blog-post-text{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-bottom: 10vh;
}
.blog-post-title{
    font-family: Header;
    font-size: 4vw;
    text-align: left;
}
.blog-post-subhead{
    font-family: Subhead;
    font-size: 1vw;
    text-align: left;
}
.blog-post-body{
    font-family: Body;
    font-size: 14px;
    text-align: left;
}

.navbar-post {
    display:flex;
    padding: 5vh;
    width: 94vw;
    justify-content: space-between;
    z-index: 1;
}

.navbar-post a{
    font-family: Nav;
    text-decoration: none;
    color: #FFE8D6;
}

.navbar-post a:hover{
    font-family: Body;
}


  @media screen and (max-width: 500px) {
    .navbar-post {
      float: none;
      display: block;
      width: 100%;
    }
}