@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

body{
  background:gray;
	font-family: 'Montserrat', sans-serif;
}

span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:120px;
	letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						8px 8px #6cd6f7,
                        20px 20px #000000;
    position: fixed;
    z-index: -1;
}

p{
    color: white;
}


