div{
    font-size: 5rem;
  text-align: center;
height:25vh;
line-height: 25vh;
  color: #fcedd8;
  background-color: #ec5800;
     font-family: 'Niconne', cursive;
  font-weight: 700;
text-shadow: 5px 5px 0px #ec5800, 
            10px 10px 0px #efa032, 
            15px 15px 0px #4f945b, 
            20px 20px 0px #efa032, 
            25px 25px 0px #4f945b, 
            30px 30px 0px #ec5800, 
            35px 35px 0px #ec5800, 
            40px 40px 0px #ec5800, 
            45px 45px 0px #ec5800;
}

p{
text-align: center;
font-family: 'Prata', serif;;
font-size:0.8rem;
color: #ec5800;
}

a{
color: #d52e3f;
text-decoration: none;
font-family: 'Niconne', cursive;
font-size: 1.2rem;

}